In [39]:
# Import necessary libraries
import findspark
findspark.init('/home/user/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

import matplotlib.pyplot as plt

plt.rcParams['figure.figsize'] = 8, 5
plt.rcParams['image.cmap'] = 'viridis'
import pandas as pd

In [40]:
# Create dataFrame_Initial from VideoGamesSales.csv file
dataFrame_Initial = pd.read_csv('../Datasets/VideoGamesSales.csv')

In [41]:
# Info table for dataFrame_Initial
dataFrame_Initial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Name               16717 non-null object
Platform           16719 non-null object
Year_of_Release    16450 non-null float64
Genre              16717 non-null object
Publisher          16665 non-null object
NA_Sales           16719 non-null float64
EU_Sales           16719 non-null float64
JP_Sales           16719 non-null float64
Other_Sales        16719 non-null float64
Global_Sales       16719 non-null float64
Critic_Score       8137 non-null float64
Critic_Count       8137 non-null float64
User_Score         10015 non-null object
User_Count         7590 non-null float64
Developer          10096 non-null object
Rating             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [42]:
# Row and column count for dataFrame_Initial
print(dataFrame_Initial.shape)

(16719, 16)

In [43]:
# Filter dataFrame_Initial to remove empty values 
dataFrame_Filtered = dataFrame.dropna()

In [44]:
# Row and column count for dataFrame_Filtered
print(dataFrame_Filtered.shape)

(6825, 16)